<div class="protein-loader-wrapper">
  <div class="protein-loader-scoop animate-spin">
    <div class="icon animate-pulse">🛍️</div>
  </div>

  <div class="orbiting-dots">
    <div class="dot orange"></div>
    <div class="dot purple" style="animation-delay: 0.2s"></div>
    <div class="dot pink" style="animation-delay: 0.4s"></div>
    <div class="dot yellow" style="animation-delay: 0.6s"></div>
  </div>

  <div class="loading-message animate-pulse">
    <h3>{{ randomMessage }}</h3>
    <p>Please wait while we find the best protein shops near you!</p>
  </div>
</div>
