
<div class="admin-shop-list">
  <h2>Admin - Shop Management</h2>

  <!-- Add Shop Form -->
  <form (ngSubmit)="addShop()">
    <input type="text" [(ngModel)]="newShop.name" name="name" placeholder="Shop Name" required />
    <input type="number" [(ngModel)]="newShop.latitude" name="latitude" placeholder="Latitude" [value]="''"required />
    <input type="number" [(ngModel)]="newShop.longitude" name="longitude" placeholder="Longitude" [value]="''"required />
    <input type="text" [(ngModel)]="newShop.products" name="products" placeholder="Products (comma-separated)" required />
    <input type="text" [(ngModel)]="newShop.address" name="address" placeholder="Address" required />
    <input type="text" [(ngModel)]="newShop.whatsappNumber" name="whatsappNumber" placeholder="WhatsApp Number" required />
    <input type="text" [(ngModel)]="newShop.openingTime" name="openingTime" placeholder="Opening Time (e.g. 9:00 AM)" required />
  <input type="text" [(ngModel)]="newShop.closingTime" name="closingTime" placeholder="Closing Time (e.g. 9:00 PM)" required />
    <button type="submit">Add Shop</button>
  </form>

  <hr />

  <div class="delete-shop-box">
  <h3>🗑️ Delete Shop by WhatsApp Number</h3>
  <input [(ngModel)]="deleteNumber" placeholder="Enter WhatsApp Number" />
  <button (click)="deleteShop()">Delete</button>

  <p *ngIf="deleteStatus === 'success'" style="color: green;">✅ Deleted successfully</p>
  <p *ngIf="deleteStatus === 'notfound'" style="color: red;">❌ Not found</p>
  <p *ngIf="deleteStatus === 'error'" style="color: red;">⚠️ Something went wrong</p>
</div>

