<div class="contact-container">
      <div class="panel right-panel">
    <h2>Contact Us</h2>
    <form>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <textarea placeholder="Message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>

  <img src="../../assets/images/Logo.png" class="thank-you-image" alt="Thank You Poster" />


   <div class="panel left-panel">
    <h2>What happens next?</h2>
    <p>Once we receive your message, our team usually replies within 24-48 hours via the email you provide.</p>
    <p>We're improving our plant-based protein to fit with foods like idly, poha, paratha — without altering taste.</p>
    <p>Your feedback makes it better every day.</p>
  </div>
</div>
